<a href="https://colab.research.google.com/github/heyggun/Algorithm/blob/main/DataManim_type1_case4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 작업형 1유형

-https://www.datamanim.com/dataset/03_dataq/typeone.html#id18

In [16]:
import pandas as pd
import numpy as np

## 의료 비용 예측 데이터

- 데이터 출처 :https://www.kaggle.com/mirichoi0218/insurance/code(참고, 데이터 수정)
데이터 설명 : 의료비용 예측문제
- Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/train.csv

In [17]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/train.csv'
df = pd.read_csv(DataUrl)
display(df.head(5))

   age     sex     bmi  children smoker     region      charges
0   64  female  39.330         0     no  northeast  14901.51670
1   47  female  27.830         0    yes  southeast  23065.42070
2   52  female  33.300         2     no  southwest  10806.83900
3   33  female  22.135         1     no  northeast   5354.07465
4   30    male  31.400         1     no  southwest   3659.34600

Q. 흡연자와 비흡연자 각각 charges의 상위 10% 그룹의 평균의 차이는?

In [21]:
smoker_high = df.loc[df['smoker']=='yes']['charges'].quantile(0.9)
nonsmoker_high = df.loc[df['smoker']=='no']['charges'].quantile(0.9)

print(smoker_high, nonsmoker_high)

smoker_mean = df.loc[(df['smoker']=='yes') & (df['charges']>= smoker_high)]['charges'].mean()
nonsmoker_mean = df.loc[(df['smoker']=='no') & (df['charges']>= nonsmoker_high)]['charges'].mean()


Ans = smoker_mean - nonsmoker_mean
Ans

46905.88829 14396.19532

29297.954548156158

## 킹카운티 주거지 가격예측문제

- 데이터 출처 :https://www.kaggle.com/harlfoxem/housesalesprediction (참고, 데이터 수정)
데이터 설명 : 킹카운티 주거지 가격 예측문제
- Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice/train.csv

In [22]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice/train.csv'

df = pd.read_csv(DataUrl)
display(df.head(3))

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,8961990160,20150413T000000,567500.0,3,2.5,2080,4556,2.0,0,0,...,8,2080,0,1999,0,98074,47.6036,-122.014,1530,5606
1,9455200205,20140604T000000,525000.0,3,2.0,1540,7800,1.0,0,0,...,8,1540,0,2004,0,98125,47.7041,-122.288,1510,7800
2,7853220670,20140918T000000,540000.0,3,2.5,2860,8935,2.0,0,0,...,8,2860,0,2004,0,98065,47.5336,-121.855,2650,6167

Q. bedrooms의 빈도가 가장 높은 값을 가지는 데이터들의 price의 상위 10%와하위 10% 값의 차이를 구하여라

In [28]:
fre_bed = df['bedrooms'].value_counts().index[0]

high_price = df.loc[df['bedrooms']==fre_bed]['price'].quantile(0.9)
low_price = df.loc[df['bedrooms']==fre_bed]['price'].quantile(0.1)

Ans = high_price - low_price
Ans

505500.0

## Q. 대학원 입학가능성 데이터

- 데이터 출처 :https://www.kaggle.com/mohansacharya/graduate-admissions(참고, 데이터 수정)
데이터 설명 : 대학원 입학 가능성 예측
- Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/train.csv

In [29]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/train.csv'
df = pd.read_csv(DataUrl)
display(df.head(3))

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,246,328,110,4,4.0,2.5,9.02,1,0.81
1,100,323,113,3,4.0,4.0,8.88,1,0.79
2,79,296,95,2,3.0,2.0,7.54,1,0.44

Q. Serial No. 컬럼을 제외하고 ‘Chance of Admit’을 종속변수, 나머지 변수를 독립변수라 할때, 랜덤포레스트를 통해 회귀 예측을 할 떄 변수중요도 값을 출력하라 (시드값에 따라 순서는 달라질수 있음)

In [32]:
temp = df.drop(columns=['Serial No.'])
display(temp.head(1))
X = temp.drop(columns='Chance of Admit')
display(X.head(1))
y = temp[['Chance of Admit']]
display(y.head(1))

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,328,110,4,4.0,2.5,9.02,1,0.81

   GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  Research
0        328          110                  4  4.0  2.5  9.02         1

   Chance of Admit
0             0.81

In [38]:
from sklearn.ensemble import RandomForestRegressor

ml = RandomForestRegressor()

ml.fit(X,y)
pd.DataFrame({'importance': ml.feature_importances_}, X.columns).sort_values(by='importance', ascending=False)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """

                   importance
CGPA                 0.810764
GRE Score            0.090687
TOEFL Score          0.031276
LOR                  0.023981
SOP                  0.023004
University Rating    0.012913
Research             0.007374

## 레드 와인 퀄리티 예측 데이터

- 데이터 출처 :https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009(참고, 데이터 수정)
데이터 설명 : 레드 와인 퀄리티 예측문제
- Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/train.csv

In [41]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/train.csv'
df = pd.read_csv(DataUrl)
display(df.head(3))

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,5.0,0.38,0.01,1.6,0.048,26.0,60.0,0.99084,3.70,0.75,14.0,6
1,5.0,0.42,0.24,2.0,0.060,19.0,50.0,0.99170,3.72,0.74,14.0,8
2,7.1,0.36,0.30,1.6,0.080,35.0,70.0,0.99693,3.44,0.50,9.4,5

Q. quality 값이 3인 그룹과 8인 데이터그룹의 각 컬럼별 독립변수의 표준편차 값의 차이를 구할때 그값이 가장 큰 컬럼명을 구하여라

In [54]:
qual_3 = df.loc[df['quality']==3].std()
qual_8 = df.loc[df['quality']==8].std()


temp = pd.concat([qual_3, qual_8], axis=1).rename(columns={0:'qual_3', 1:'qual_8'})
temp['gap'] = temp['qual_3'] - temp['qual_8']
temp['abs_gap'] = temp['gap'].apply(lambda x: abs(x))
temp.sort_values(by='abs_gap', ascending=False).index[0]

'total sulfur dioxide'

In [55]:
answer = (df.loc[df.quality ==8].std() -df.loc[df.quality ==3].std()).sort_values().index[-1]
print(answer)

total sulfur dioxide

## 약물 분류 데이터

- 데이터 출처 :https://www.kaggle.com/prathamtripathi/drug-classification(참고, 데이터 수정)
데이터 설명 : 투약하는 약을 분류
- Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/train.csv

In [56]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/train.csv'
df = pd.read_csv(DataUrl)
display(df.head(3))

   Age Sex      BP Cholesterol  Na_to_K  Drug
0   20   F  NORMAL      NORMAL    9.281     4
1   24   M    HIGH      NORMAL    9.475     1
2   34   M  NORMAL        HIGH   22.456     0

남성들의 연령대별 (10살씩 구분 0~9세 10~19세 …) Na_to_K값의 평균값을 구해서 데이터 프레임으로 표현하여라

In [60]:
df = df[df['Sex']=='M']
df['Age2'] = df['Age'].apply(lambda x: (x//10 * 10))
df.groupby(['Age2'])[['Na_to_K']].mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

        Na_to_K
Age2
10    13.627000
20    18.260769
30    15.244143
40    13.897273
50    14.811273
60    14.284308
70    11.363857